<template>
    <div id="app">
        <Loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="true" color="#995DB5" loader="dots"></Loading>
        <HelloWorld/>
    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue';
    import { EventBus } from './EventBus.js';

    export default {
        name: 'app',
        components: {
            HelloWorld
        },
        data(){
            return {
                isLoading: false
            }
        },
        methods:{
            playSound() {
                let sound = '/assets/click.mp3';
                var audio = new Audio(sound);
                audio.play();
            },
        },
        mounted(){
            EventBus.$on('click',this.playSound)
            EventBus.$on('loading',()=>{this.isLoading = true})
            EventBus.$on('loading-close',()=>{console.log('entre'); this.isLoading = false})
        }
    }
</script>

<style>

</style>
