.bg-light-purple {
    background: $light-purple !important;
}

.my-bordered-image {
    border: 2px solid black;
    box-shadow: 10px 10px black;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition: all .3s;
    &:hover {
        box-shadow: 10px -10px black;
    }
}

.text-big {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
}

.h2 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 45px;
}

.text-orange {
    color: $dark-orange;
}

.text-purple {
    color: $medium-purple;
}

.text-bold {
    font-weight: 700;
}

.bg-extra-light-orange {
    background: #FFE9D0;
}

.bg-black {
    background: black;
}

.btn-primary {
    font-family: 'Poppins';
    font-size: 22px;
    color: white;
    background: $medium-purple;
    border: 3px solid black;
    border-radius: 100px;
    font-weight: 900;
    padding: 10px 30px;
    transition: all .3s;
    &:hover {
        background: $dark-purple;
        border: 3px solid black;
        transform: scale(1.05);
    }
}

.mylogo{
    font-family: 'Gloria Hallelujah';
}
