@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
//@import "node_modules/fortawesome/fontawesome-free/css/all.min.css";
//importar bien las fuentes
//sección de tecnologías manejadas con logos
//subir dibujos //diseño y desarrollo de sitios web, desarrollo de software a la medida
//desarrollo de aplicaciones móviles //diseño y prototipado de interfaz de usuario
//'Dawning of a New Day'
$light-purple: #F5E1FF;
$dark-purple: #7A4A91;
$medium-purple:#995DB5;
$light-orange: #F9AE56;
$dark-orange: #F7941F;

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar { width: 10px; height: 10px; /* Track */ /* Handle */ /* Handle on hover */ }

::-webkit-scrollbar-track { border-radius: 10px; }

::-webkit-scrollbar-thumb { background: #e6e6e6; border-radius: 10px; }

::-webkit-scrollbar-thumb:hover { background: #bebebe; }


body {
    font-family: 'Raleway';
    cursor: url("/assets/cursor.png"),default;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-control {
    font-family: 'Raleway';
    border: 4px solid black;
    border-radius: 100px;
    padding: 20px 10px;
    &:focus {
        border-color: $medium-purple !important;
        box-shadow: 0 0 0 0.2rem rgba($medium-purple, 0.25) !important;
    }
}

textarea {
    border-radius: 20px !important;
}

.modal-content{
    border: 3px solid black !important;
    background: $medium-purple !important;
    .myclose{
        font-size: 40px;
        position: absolute;
        top: -5px;
        right: -5px;
        color:black !important;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

.modal-body{
    padding: 5px;
}


@import 'components/mynavbar';
@import 'components/purplecard';
@import 'components/myselect';
@import 'utilities';
