.mynavbar {
    position: fixed;
    height: 60px;
    box-shadow: -10px -10px inset $medium-purple;
    background: $dark-purple;
    border: 3px solid black;
    width: 80%;
    top: 10px;
    left: 10%;
    border-radius: 10px;
    transition: all .3s;
    z-index: 10;
    &:hover {
        transform: scale(1.02);
    }
    &--menu{
        bottom: 2px;
        height: auto;
        align-items: flex-start;
    }
    &__link {
        font-family: 'Poppins';
        font-weight: 900;
        color: white;
        font-size: 20px;
        padding-left: 10px;
        &:hover {
            opacity: .7;
            color: white;
            text-decoration: none;
        }
        &.active {
            color: $dark-orange;
        }
    }
}

@media (max-width: 992px) {
    .mynavbar{
        top: 2px;
        left: 2px;
        right: 2px;
        width: auto;
    }
}
