.myselect {
    background: $dark-purple;
    border-radius: 100px;
    box-shadow: -5px -10px inset $medium-purple;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 22px;
    padding: 10px 20px;
    color: white;
    border: 3px solid black;
    width: 100%;
    transition: all .3s;
    &:hover {
        transform: scale(1.05);
        box-shadow: -2px -5px inset $medium-purple;
    }
    &:focus {
        outline: none;
        transform: scale(1);
        box-shadow: -2px -5px inset $medium-purple;
    }
}