.purplecard {
    background: $medium-purple;
    box-shadow: -20px -20px inset $dark-purple;
    border: 3px solid black;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    transition: all .3s;
    color: white;
    display: flex;
    align-items: center;
    &__title {
        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 700;
    }
    &:hover {
        transform: scaleY(1.2);
        box-shadow: -15px -15px inset $dark-purple;
    }
    &__icon {
        font-size: 40px;
    }
    &__img {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
}
