<template>
    <div>
        <Navbar />
        <div class="py-5 bg-light-purple" id="inicio">
            <div class="container my-5">
                <div class="row justify-content-center mt-5 pt-5">
                    <div
                        class="col col-auto py-5 d-flex justify-content-center align-items-center"
                    >
                        <img class="my-bordered-image" src="/assets/me.jpg" />
                    </div>
                    <div class="col col-12 col-md-8 col-lg-6">
                        <h1 class="text-left text-big">
                            Luisa
                            <span class="text-orange">María</span> Alzate Parrado
                        </h1>
                        <p class="text-justify">
                            Soy
                            <span class="text-bold">Desarrolladora</span> Web &#128187;. Me gusta todo el proceso del desarrollo, desde el diseño y prototipado, hasta el desarrollo de Frontend y Backend. Me encanta diseñar
                            <span
                                class="text-bold"
                            >wireframes</span> para sitios web, componer algunas
                            <span class="text-bold">ilustraciones</span> para enriquecer la Interfaz de usuario, y luego volverlos realidad a través de tecnologías como HTML, CSS, Javascript, Vue, React Native y Bootstrap.
                            Aunque esencialmente soy desarrolladora de software, me gusta el dibujo &#127912;, la ilustración y la fotografía &#128247;, y tengo conocimientos en Adobe XD y Adobe Illustrator. En realidad, me encuentro en un proceso de encontrar ese extraño equilibrio entre mi pasión por el arte y mi gusto por la matemática &#128525;.
                            <span
                                class="text-bold"
                            >¡BIENVENIDO A MI PORTAFOLIO &#128522;&#129303;!</span>
                        </p>
                        <p class="text-orange text-bold text-justify">
                            "Cuando hagan cualquier trabajo, háganlo de todo corazón, como si estuvieran trabajando para el Señor y no para los seres humanos." Col 3:23
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5 my-5" id="servicios">
            <div class="row justify-content-center pt-5">
                <div
                    class="col col-12 col-md-6 col-lg-4 p-1"
                    v-for="(servicio,index) in servicios"
                    :key="index"
                >
                    <ServicioCard :title="servicio.title" :icon="servicio.icon" :text="servicio.text" />
                </div>
            </div>
        </div>
        <div id="proyectos">
            <img src="/assets/header-naranja.svg" id="proyectos-header">
            <img src="/assets/footer-naranja.svg" id="proyectos-footer">
            <div style="background: #F7941F;">
                <div class="container">
                <div class="row justify-content-between">
                    <h2 class="text-white h2">Proyectos</h2>
                    <div class="col col-12 col-md-4 col-lg-3">
                        <select class="myselect" v-model="filtroSelected"  @click="click">
                            <option>Todos</option>
                            <option>Desarrollos</option>
                            <option>Diseños</option>
                            <option>Dibujos</option>
                        </select>
                    </div>
                </div>
                <p class="text-center text-white">A continuación, un listado de todos mis proyectos incluyendo desarrollos de software, aplicaciones, diseños e incluso dibujos.
                    Elige la categoría que deseas ver.
                </p>
                <div>
                    <transition-group class="row justify-content-center pt-5" name="fade" >
                    <div
                        class="col col-12 col-md-6 col-lg-4 p-1"
                        v-for="(proyecto) in proyectosComputed"
                        :key="proyecto.img"
                    >
                        <ProyectoCard :modal="proyecto.modal" :img="proyecto.img" :video="proyecto.categoria === 'Desarrollos' ? proyecto.video : ''" />
                    </div>
                    </transition-group>
                </div>
            </div>
            </div>
        </div>
        <div id="contacto" class="bg-extra-light-orange py-5" style="position: relative; overflow: hidden;">
            <div id="circle-1" class="rounded-circle"></div>
            <div id="circle-2" class="rounded-circle"></div>
            <div id="circle-3" class="rounded-circle"></div>
            <div id="circle-4" class="rounded-circle"></div>
            <div class="row justify-content-center my-5">
                <div class="col col-12 col-md-8 col-lg-6">
                    <h2 class="text-center h2">Contácta<span class="text-purple">me</span></h2>
                    <p class="text-center mb-5"><strong>Cel:</strong> 3124127511. <strong>Email:</strong> lumariaap15@gmail.com. <br>Aunque sea sólo para decirme que pasaste por mi portafolio y te agradó mucho, tu mensaje será muy bienvenido! &#128522;</p>
                    <form>
                        <b-form-group>
                            <b-form-input
                                id="nombre"
                                v-model="form.nombre"
                                type="text"
                                required
                                placeholder="Nombre"
                                @click="click"
                            ></b-form-input>
                        </b-form-group>
                        <b-form-group>
                            <b-form-input id="celular" @click="click" v-model="form.celular" type="number" placeholder="Celular"></b-form-input>
                        </b-form-group>
                        <b-form-group>
                            <b-form-input
                                id="email"
                                v-model="form.email"
                                type="email"
                                required
                                placeholder="Email"
                                @click="click"
                            ></b-form-input>
                        </b-form-group>
                        <b-form-group>
                            <b-form-textarea
                                id="mensaje"
                                v-model="form.mensaje"
                                placeholder="Mensaje"
                                @click="click"
                                rows="6"
                            ></b-form-textarea>
                        </b-form-group>
                        <div class="row mt-5 justify-content-center">
                            <button type="button" class="btn btn-primary" @click="enviarForm">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-black">
            <div class="container d-flex align-items-center justify-content-center" style="min-height: 300px">
                <div>
                    <h1 class="text-white text-center mylogo">Lulú<span class="text-purple">:)</span></h1>
                    <p class="text-white text-center">Desarrollado con amor &#10084; por <a target="_blank" class="text-purple" href="https://www.linkedin.com/in/luisa-mar%C3%ADa-alzate-parrado-89a88a17a/">Luisa María Alzate</a>. 2019 &copy; Derechos reservados</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "./Navbar";
    import ServicioCard from "./ServicioCard";
    import ProyectoCard from "./ProyectoCard";
    import {EventBus} from '../EventBus';
    import projects from "../proyects";
    import axios from 'axios';
    export default {
        name: "HelloWorld",
        props: {},
        components: {
            Navbar,
            ServicioCard,
            ProyectoCard
        },
        data() {
            return {
                servicios: [
                    {
                        title: "Diseño y prototipado de interfaces",
                        text:
                            "Utilizando herramientas como Adobe XD realizaré un diseño elegante, novedoso y personalizado que se ajuste a tus necesidades. ¡Como el diseño de este portafolio!",
                        icon: "fas fa-paint-roller"
                    },
                    {
                        title: "Desarrollo de páginas web",
                        text:
                            "Esta es la parte donde llevo la idea de tu página web o software empresarial a la realidad utilizando el código.",
                        icon: "fas fa-laptop-code"
                    },
                    {
                        title: "Desarrollo de aplicaciones móviles",
                        text:
                            "Diseño y Desarrollo aplicaciones modernas e intuitivas para Android o iOS",
                        icon: "fas fa-mobile-alt"
                    }
                ],
                form:{
                    nombre:"",
                    celular:"",
                    email:"",
                    mensaje:"",
                },
                proyectos:[],
                filtroSelected: "Todos",
            };
        },
        methods:{
            click(){
                EventBus.$emit('click')
            },
            enviarForm(){
                this.click()
                EventBus.$emit('loading')
                axios.post('/api/contacto',this.form).then((resp)=>{
                    EventBus.$emit('loading-close')
                    this.$bvToast.toast(`Tu mensaje fue enviado. Te responderé pronto.`, {
                        title: `Gracias!!`,
                        toaster: 'b-toaster-top-center',
                        solid: true,
                        appendToast: false,
                        variant: 'success'
                    });
                    this.form = {
                        nombre:"",
                        celular:"",
                        email:"",
                        mensaje:"",
                    }
                })
            }
        },
        computed:{
            proyectosComputed(){
                let proyectos = [];
                if(this.filtroSelected === "Todos"){
                    proyectos = this.proyectos
                }else{
                    proyectos = this.proyectos.filter(item=>{
                        return item.categoria === this.filtroSelected
                    });
                }
                return proyectos.sort(function() { return 0.5 - Math.random() });
            }
        },
        mounted() {
            this.proyectos = projects;
            EventBus.$emit('loading-close')
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #circle-1{
        width: 300px;
        height: 300px;
        border:10px solid rgba(247,148,31,.4);
        position: absolute;
        top: -100px;
        left: -150px;
        animation: 4s move infinite alternate-reverse;
    }

    #circle-2{
        width: 200px;
        height: 200px;
        background:rgba(247,148,31,.4);
        position: absolute;
        top: 550px;
        left: -100px;
        animation: 4s move infinite alternate;
    }

    #circle-3{
        width: 400px;
        height: 400px;
        background:rgba(247,148,31,.4);
        position: absolute;
        top: 10%;
        right: -200px;
        animation: 4s move infinite alternate-reverse;
    }

    #circle-4{
        width: 400px;
        height: 400px;
        border:10px solid rgba(247,148,31,.4);
        position: absolute;
        top: 30%;
        right: -100px;
        animation: 4s move infinite alternate;
    }

    #proyectos{
        /*
        background-image: url('/assets/fondo.svg');
        background-size: cover;
         */
        position: relative;
        padding-top: 300px;
        padding-bottom: 100px;
        min-height: 600px;
        background: transparent;
    }

    @media (max-width: 576px) {
        #proyectos{
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }

    @media (min-width: 577px) and (max-width: 768px) {
        #proyectos{
            padding-top: 200px;
            padding-bottom: 50px;
        }
    }

    #proyectos-header{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        z-index: -1;
    }

    #proyectos-footer{
        width: 100%;
        position: absolute;
        bottom: -2px;
        left: 0;
        right:0;
        z-index: -1;
    }

    @keyframes move {
        to{
            transform: translate(20%, -50%);
        }
    }

    .projects-enter {
        transform: scale(0.5) translatey(-80px);
        opacity:0;
    }

    .projects-leave-to{
        transform: translatey(30px);
        opacity:0;
    }

    .projects-leave-active {
        position: absolute;
        z-index:-1;
    }

    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
    }
    .fade-enter/* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: scale(0.5) translatey(-80px);
    }
    .fade-leave-to{
        transform: translatey(30px);
        opacity:0;
    }
</style>
