<template>
    <div :class="'mynavbar '+(menuGrande ? 'd-flex align-items-center flex-column justify-content-between mynavbar--menu':'row justify-content-between align-items-center ')">
        <h1 v-if="!menuGrande" class="pl-3 text-white mylogo">Lulú<span class="text-orange">:)</span></h1>
        <div class="pr-3 align-items-center d-none d-md-flex">
            <a href="javascript:void(0)" @click="activeNav(0)" :class="active === 0 ? 'mynavbar__link active': 'mynavbar__link'" v-scroll-to="'#inicio'">Inicio</a>
            <a href="javascript:void(0)" @click="activeNav(1)" :class="active === 1 ? 'mynavbar__link active': 'mynavbar__link'" v-scroll-to="'#servicios'">Servicios</a>
            <a href="javascript:void(0)" @click="activeNav(2)" :class="active === 2 ? 'mynavbar__link active': 'mynavbar__link'" v-scroll-to="'#proyectos'">Proyectos</a>
            <a href="javascript:void(0)" @click="activeNav(3)" :class="active === 3 ? 'mynavbar__link active': 'mynavbar__link'" v-scroll-to="'#contacto'">Contacto</a>
        </div>
        <a v-if="!menuGrande" href="javascript:void(0)" @click="open" class="d-block d-md-none pr-2"><h2 class="text-white"><i class="fas fa-bars"></i></h2></a>
        <a v-if="menuGrande" href="javascript:void(0)" @click="close" class="pr-2 align-self-end"><h2 class="text-white"><i class="fas fa-times"></i></h2></a>
        <div v-if="menuGrande" class="d-flex flex-column align-items-center justify-content-center">
            <a href="javascript:void(0)" @click="activeNav(0)" :class="active === 0 ? 'mynavbar__link text-center active': 'mynavbar__link text-center'" v-scroll-to="{el:'#inicio',onDone:close}">Inicio</a>
            <a href="javascript:void(0)" @click="activeNav(1)" :class="active === 1 ? 'mynavbar__link text-center active': 'mynavbar__link text-center'" v-scroll-to="{el:'#servicios',onDone:close}">Servicios</a>
            <a href="javascript:void(0)" @click="activeNav(2)" :class="active === 2 ? 'mynavbar__link text-center active': 'mynavbar__link text-center'" v-scroll-to="{el:'#proyectos',onDone:close}">Proyectos</a>
            <a href="javascript:void(0)" @click="activeNav(3)" :class="active === 3 ? 'mynavbar__link text-center active': 'mynavbar__link text-center'" v-scroll-to="{el:'#contacto',onDone:close}">Contacto</a>
        </div>
        <h1 v-if="menuGrande" class="pl-3 text-white text-center mylogo">Lulú<span class="text-orange">:)</span></h1>
    </div>
</template>

<script>
    import { EventBus } from '../EventBus';
    export default {
        name:"Navbar",
        data(){
            return{
                active:0,
                menuGrande: false
            }
        },
        methods:{
            activeNav(num){
                EventBus.$emit('click');
                //this.active = num;
            },
            open(){
                this.menuGrande = true
                EventBus.$emit('click');
            },
            close(){
                this.menuGrande = false
                EventBus.$emit('click');
            },
            handleScroll(){
                let servicios = document.getElementById('servicios').offsetTop-5
                let proyectos = document.getElementById('proyectos').offsetTop-5
                let contacto = document.getElementById('contacto').offsetTop-5
                if(window.scrollY < servicios){
                    this.active = 0;
                }
                if(window.scrollY < proyectos && window.scrollY > servicios){
                    this.active = 1;
                }
                if(window.scrollY < contacto && window.scrollY > proyectos){
                    this.active = 2;
                }
                if(window.scrollY > contacto){
                    this.active = 3;
                }
            }
        },
        mounted() {
            window.addEventListener('scroll', this.handleScroll);
        }

    }
</script>

<style>

</style>
