<template>
    <div>
        <div class="purplecard p-1" @click="click">
            <div class="purplecard__img" :style="'background-image: url('+$props.img+')'"></div>
        </div>
        <b-modal v-model="modalShow" :size="$props.modal" hide-header hide-footer>
            <a href="javascript:void(0)" @click="modalShow = false" class="myclose"><i class="fas fa-times-circle"></i></a>
            <video v-if="$props.video !== ''" width="100%" autoplay>
                <source :src="$props.video" type="video/mp4">
                <img :src="$props.img" width="100%">
            </video>
            <img v-else :src="$props.img" width="100%">
        </b-modal>
    </div>
</template>

<script>
    import {EventBus} from "../EventBus";

    export default {
        name: "ProyectoCard",
        props:['img','video','modal'],
        data(){
            return {
                modalShow: false,
            }
        },
        methods:{
            click(){
                EventBus.$emit('click');
                this.modalShow = true;
            }
        }
    }
</script>

<style>

</style>
