<template>
  <div class="purplecard">
    <div>
        <p class="text-center purplecard__icon"><i :class="$props.icon"></i></p>
        <h2 class="text-center purplecard__title">{{$props.title}}</h2>
        <p class="text-center text-white">{{$props.text}}</p>
    </div>
  </div>
</template>

<script>
export default {
    name: "ServicioCard",
    props:['icon','title','text']
}
</script>

<style>

</style>